html{
    scroll-behavior:smooth;
}

body{
    background:#0f0f0f;
    color:#fff;
    overflow-x:hidden;
}

header{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    background:rgba(0,0,0,.35);
    backdrop-filter:blur(12px);
    transition:.3s;
    z-index:1000;
    border-bottom:1px solid rgba(255,255,255,.08);
}

nav{
    width:92%;
    margin:auto;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 0;
}

.logo img{
    height:95px;
    transition:.8s;
}

.logo img:hover{
    transform:scale(1.05);
}

nav ul li a{
    color:#fff;
    font-weight:600;
    letter-spacing:.5px;
}

nav ul li a:hover{
    color:#D4AF37;
}

.icons input{
    padding:12px 18px;
    border-radius:30px;
    background:#fff;
    width:220px;
}

.hero{
    height:100vh;
    background:
    linear-gradient(rgba(0,0,0,.55),rgba(0,0,0,.55)),
    url("hero.jpg") center center/cover no-repeat;
}

.hero-content{
    max-width:800px;
}

.hero h1{
    font-size:85px;
    font-weight:900;
    letter-spacing:2px;
    text-transform:uppercase;
}

.hero p{
    font-size:24px;
    margin:25px 0 40px;
    color:#eee;
}

.btn{
    padding:16px 42px;
    background:#D4AF37;
    color:#000;
    border:2px solid #D4AF37;
    border-radius:40px;
    font-weight:bold;
    transition:.35s;
}

.btn:hover{
    background:transparent;
    color:#D4AF37;
}

.products{
    width:92%;
    margin:140px auto;
}

.products h2{
    font-size:48px;
    margin-bottom:60px;
}

.card{
    background:#181818;
    border-radius:18px;
    overflow:hidden;
    transition:.4s;
    box-shadow:0 8px 25px rgba(0,0,0,.35);
}

.card:hover{
    transform:translateY(-12px);
    box-shadow:0 15px 35px rgba(212,175,55,.25);
}

.card img{
    width:100%;
    height:380px;
    object-fit:cover;
    transition:.4s;
}

.card:hover img{
    transform:scale(1.05);
}

.card h3{
    padding:22px;
    font-size:22px;
}

footer{
    margin-top:120px;
    padding:60px;
    background:#050505;
    border-top:1px solid rgba(255,255,255,.08);
}
