/* WHY CHOOSE VASTRIX */

.why{
    width:92%;
    margin:120px auto;
    text-align:center;
}

.why h2{
    font-size:48px;
    margin-bottom:50px;
    color:#fff;
}

.why-grid{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(280px,1fr));
    gap:30px;
}

.why-card{
    background:#181818;
    padding:40px 30px;
    border-radius:18px;
    box-shadow:0 10px 30px rgba(0,0,0,.4);
    transition:.4s;
}

.why-card:hover{
    transform:translateY(-10px);
    box-shadow:0 18px 40px rgba(212,175,55,.25);
}

.why-card h3{
    color:#D4AF37;
    margin-bottom:15px;
    font-size:24px;
}

.why-card p{
    color:#ccc;
    line-height:1.7;
}
